apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: omegaup

metadata:
  name: kustomization
  namespace: omegaup

commonLabels:
  env: production

resources:
- ../../../base/frontend
- database.yaml

generators:
- cronjobs-secret-generator.yaml
- frontend-secret-generator.yaml
- newrelic-secret-generator.yaml
- omegaup-secret-generator.yaml
- redis-secret-generator.yaml
- llm-api-secret-generator.yaml

configMapGenerator:
- behavior: merge
  files:
  - nginx-config/broadcaster-upstream.conf
  - nginx-config/grader-upstream.conf
  - nginx-config/realip.conf
  name: nginx-config

            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
            # TODO: Remove once we migrate to jammy.
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: frontend-deployment
    spec:
      template:
        spec:
          containers:
          - name: php
            volumeMounts:
            # TODO: Remove once we migrate to jammy.
            - name: newrelic-secret
              mountPath: /etc/php/8.0/mods-available/newrelic.ini
              subPath: newrelic.ini
            - name: newrelic-secret
              mountPath: /etc/php/8.1/mods-available/newrelic.ini
              subPath: newrelic.ini
          volumes:
          - name: newrelic-secret
            secret:
              secretName: newrelic-secret
- patch: |-
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: frontend-ingress
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        nginx.org/hsts: true
    spec:
      rules:
        - host: omegaup.com
          http:
            paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: frontend-service
                  port:
                    number: 8000
            - path: /docs/cpp/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/java/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/pas/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/assets/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
        - host: www.omegaup.com
          http:
            paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: frontend-service
                  port:
                    number: 8000
            - path: /docs/cpp/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/java/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/pas/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/assets/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
        - host: arena.omegaup.com
          http:
            paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: frontend-service
                  port:
                    number: 8000
            - path: /docs/cpp/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/java/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/pas/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
            - path: /docs/assets/
              pathType: Prefix
              backend:
                service:
                  name: static-service
                  port:
                    number: 80
      tls:
      - hosts:
        - omegaup.com
        - www.omegaup.com
        - arena.omegaup.com
        secretName: frontend-ingress-cert
- patch: |-
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: db-migrate
    spec:
      template:
        spec:
          serviceAccountName: db-migrate
          containers:
          - name: db-migrate
            command: [
              '/opt/omegaup/stuff/db-migrate.py',
              '--verbose',
              '--log-json',
              '--lower-timeout',
              '--kill-blocking-connections',
              '--aws',
              'migrate',
              '--databases=omegaup',
            ]
            volumeMounts:
            - name: cronjobs-secret
              mountPath: /home/ubuntu/.my.cnf
              subPath: my.cnf
          volumes:
          - name: cronjobs-secret
            secret:
              secretName: cronjobs-secret
- path: frontend-deployment.yaml
  target:
    group: apps
    kind: Deployment
    name: frontend-deployment
    version: v1

images:
- name: omegaup/ai-editorial-worker
  newTag: 3cdaf2818633ffb8ffb7662660521db45415dc3d
- name: omegaup/frontend
  newTag: 3cdaf2818633ffb8ffb7662660521db45415dc3d
- name: omegaup/frontend-sidecar
  newTag: 3cdaf2818633ffb8ffb7662660521db45415dc3d
- name: omegaup/nginx
  newTag: 3cdaf2818633ffb8ffb7662660521db45415dc3d
- name: omegaup/php
  newTag: 3cdaf2818633ffb8ffb7662660521db45415dc3d
