apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: omegaup-grader-efs-pvc
  namespace: omegaup
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 50Gi
  volumeName: omegaup-grader-efs-pv
