apiVersion: apps/v1
kind: Deployment

metadata:
  name: grader-deployment
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/version: v1.9.66
    spec:
      # Temporary: Pin to node where EBS volume is attached to avoid detach/attach delays
      # Remove after confirming volume can be safely moved or after migrating to EFS
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
              - ip-192-168-43-99.ec2.internal
