apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: omegaup

resources:
- ../../../base/backend
- deployment.yaml
- grader-metrics.yaml
- grader-efs-pvc.yaml

patches:
- patch: |
    apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: omegaup-backend-pvc
    spec:
      resources:
        requests:
          storage: 100Gi
      accessModes:
      - ReadWriteOnce
      storageClassName: ""
      volumeMode: Filesystem
      volumeName: omegaup-backend-pv
# Old EBS PVC - Replaced with omegaup-grader-efs-pvc (EFS with ReadWriteMany)
# - patch: |
#     apiVersion: v1
#     kind: PersistentVolumeClaim
#     metadata:
#       name: omegaup-grader-pvc3
#     spec:
#       resources:
#         requests:
#           storage: 50Gi
#       accessModes:
#       - ReadWriteOnce
#       storageClassName: ""
#       volumeMode: Filesystem
#       volumeName: omegaup-grader-pv3
- patch: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: grader-deployment
    spec:
      template:
        spec:
          serviceAccountName: grader
- patch: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: gitserver-deployment
    spec:
      template:
        spec:
          serviceAccountName: gitserver
- path: gitserver-deployment.yaml
  target:
    group: apps
    kind: Deployment
    name: gitserver-deployment
    version: v1
- path: grader-deployment.yaml
  target:
    group: apps
    kind: Deployment
    name: grader-deployment
    version: v1
- path: broadcaster-deployment.yaml
  target:
    group: apps
    kind: Deployment
    name: broadcaster-deployment
    version: v1

generators:
- grader-secret-generator.yaml
- grader-metrics-secret-generator.yaml
- broadcaster-secret-generator.yaml
- gitserver-secret-generator.yaml

images:
- name: omegaup/backend
  newTag: v1.9.66
- name: omegaup/gitserver
  newTag: v1.9.17
