apiVersion: v1
kind: PersistentVolume
metadata:
  name: omegaup-grader-efs-pv
spec:
  capacity:
    storage: 50Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-04f72e99270329894
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: omegaup-grader-efs-pvc
  namespace: omegaup
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 50Gi
  volumeName: omegaup-grader-efs-pv
